### **Soal 1: `while` Loop Sederhana**

**Konteks:**
Anda sedang menyimulasikan sebuah proses hitung mundur sederhana untuk peluncuran roket. Anda perlu mencetak hitungan mundur dari 5 hingga 1.

**Tugas:**

1.  Buat sebuah variabel integer bernama `hitung_mundur_1` dan inisialisasi nilainya menjadi `5`.
2.  Gunakan `while` loop untuk terus berjalan selama `hitung_mundur_1` lebih besar dari `0`.
3.  Di dalam loop, cetak (*print*) nilai dari `hitung_mundur_1`.
4.  Jangan lupa untuk mengurangi nilai `hitung_mundur_1` sebesar 1 di setiap akhir iterasi agar loop tidak berjalan selamanya.

In [1]:
hitung_mundur_1 = 5
while hitung_mundur_1 > 0:
    print(hitung_mundur_1)
    hitung_mundur_1 -= 1

5
4
3
2
1

### **Soal 2: `while` Loop dengan Kondisional `if`**

**Konteks:**
Anda ingin menyaring dan mencetak angka ganjil saja dari sebuah rentang angka, misalnya dari 1 hingga 10.

**Tugas:**

1.  Buat sebuah variabel integer bernama `angka_2` dengan nilai awal `1`.
2.  Gunakan `while` loop untuk terus berjalan selama `angka_2` **kurang dari atau sama dengan 10**.
3.  Di dalam loop, gunakan pernyataan `if` untuk memeriksa apakah `angka_2` adalah angka ganjil.
    * *Hint: Angka ganjil adalah angka yang jika dibagi 2 memiliki sisa 1. Gunakan operator modulo `%` untuk mengecek sisa pembagian.*
4.  Jika angka tersebut ganjil, cetak (*print*) nilainya.
5.  Naikkan nilai `angka_2` sebesar 1 di setiap akhir iterasi.

In [3]:
angka_2 = 1
while angka_2 <= 10:
    if angka_2 % 2 == 1:
        print(angka_2)
    angka_2 += 1

1
3
5
7
9

### **Soal 3: `for` Loop Dasar (Iterasi pada List)**

**Konteks:**
Anda memiliki daftar nama-nama planet dan ingin mencetak setiap nama planet tersebut satu per satu ke layar. `for` loop sangat ideal untuk tugas seperti ini.

**Tugas:**

1.  Buat sebuah **list** Python bernama `daftar_planet_3` yang berisi string berikut:
    ```python
    ["Merkurius", "Venus", "Bumi", "Mars", "Jupiter"]
    ```
2.  Gunakan `for` loop untuk melakukan iterasi pada setiap item di dalam `daftar_planet_3`.
3.  Di dalam loop, cetak (*print*) setiap nama planet.

In [4]:
daftar_planet_3 = ["Merkurius", "Venus", "Bumi", "Mars", "Jupiter"]
for planet in daftar_planet_3:
    print(planet)

Merkurius
Venus
Bumi
Mars
Jupiter

### **Soal 4: `for` Loop dengan `enumerate()` (Mengakses Indeks dan Nilai)**

**Konteks:**
Anda tidak hanya ingin mencetak nama planet, tetapi juga nomor urutannya dalam daftar. Fungsi `enumerate()` adalah cara Pythonic untuk melakukan ini.

**Tugas:**

1.  Gunakan kembali list `daftar_planet_3`.
2.  Gunakan `for` loop dengan `enumerate()` untuk melakukan iterasi pada `daftar_planet_3`. `enumerate()` akan memberikan Anda dua variabel di setiap iterasi: indeks dan nilai.
3.  Di dalam loop, cetak hasilnya dalam format berikut (contoh untuk item pertama): `"Planet ke-1: Merkurius"`.
    * *Hint: Ingat bahwa indeks dari `enumerate()` dimulai dari 0, jadi Anda mungkin perlu menambahkan 1 agar nomor urutannya dimulai dari 1.*

In [5]:
for x, y in enumerate(daftar_planet_3):
    print(f"Planet ke-{x + 1} adalah {y}")

Planet ke-1 adalah Merkurius
Planet ke-2 adalah Venus
Planet ke-3 adalah Bumi
Planet ke-4 adalah Mars
Planet ke-5 adalah Jupiter

### **Soal 5: Iterasi pada List Bersarang (*List of Lists*)**

**Konteks:**
Anda memiliki data siswa yang disimpan dalam sebuah list, di mana setiap elemen di dalamnya adalah list lain yang berisi nama siswa dan nilainya. Anda ingin mencetak nama dan status kelulusan untuk setiap siswa.

**Tugas:**

1.  Buat sebuah *list of lists* bernama `data_siswa_5`:
    ```python
    data_siswa_5 = [
        ["Andi", 85],
        ["Budi", 65],
        ["Citra", 92],
        ["Dewi", 58]
    ]
    ```
2.  Gunakan `for` loop untuk melakukan iterasi pada `data_siswa_5`. Di setiap iterasi, Anda akan mendapatkan sebuah list kecil (misalnya, `["Andi", 85]`).
3.  Di dalam loop, akses nama (indeks 0) dan nilai (indeks 1) dari list kecil tersebut.
4.  Gunakan `if-else` untuk menentukan status kelulusan:
    * Jika nilai **lebih dari atau sama dengan 70**, statusnya adalah "Lulus".
    * Jika tidak, statusnya adalah "Tidak Lulus".
5.  Cetak hasilnya dalam format: `"Nama: [NamaSiswa], Status: [StatusKelulusan]"`.

In [6]:
data_siswa_5 = [
    ["Andi", 85],
    ["Budi", 65],
    ["Citra", 92],
    ["Dewi", 58],
]

for nama, nilai in data_siswa_5:
    if nilai >= 70:
        status = "Lulus"
    else:
        status = "Tidak Lulus"
    print(f"Nama: {nama}, Status: {status}")

Nama: Andi, Status: Lulus
Nama: Budi, Status: Tidak Lulus
Nama: Citra, Status: Lulus
Nama: Dewi, Status: Tidak Lulus

### **Soal 6: Iterasi pada Dictionary (`.items()`)**

**Konteks:**
Anda memiliki sebuah dictionary yang menyimpan inventaris buah dan jumlah stoknya. Anda perlu mencetak setiap nama buah beserta jumlah stoknya.

**Tugas:**

1.  Buat sebuah **dictionary** bernama `inventaris_buah_6`:
    ```python
    inventaris_buah_6 = {
        "apel": 150,
        "pisang": 200,
        "jeruk": 120,
        "mangga": 75
    }
    ```
2.  Gunakan `for` loop dengan method `.items()` untuk melakukan iterasi pada `inventaris_buah_6`. Method ini akan memberikan Anda *key* (nama buah) dan *value* (jumlah stok) di setiap iterasi.
3.  Di dalam loop, cetak hasilnya dalam format: `"Stok [NamaBuah]: [JumlahStok] kg"`.

In [7]:
inventaris_buah_6 = {
    "apel": 150,
    "pisang": 200,
    "jeruk": 120,
    "mangga": 75,
}

for k, v in inventaris_buah_6.items():
    print(f"Stok {k}: {v} kg")

Stok apel: 150 kg
Stok pisang: 200 kg
Stok jeruk: 120 kg
Stok mangga: 75 kg

### **Soal 7: Iterasi pada NumPy Array**

**Konteks:**
Anda memiliki sebuah NumPy array yang berisi data jarak tempuh dalam satuan mil. Anda perlu mengonversi setiap nilai jarak tersebut ke dalam kilometer dan mencetaknya.

**Tugas:**

1.  Impor library **numpy** dengan alias `np`.
2.  Buat sebuah NumPy array bernama `jarak_mil_7` dari list berikut:
    ```python
    [1.5, 2.3, 0.8, 3.1, 1.9]
    ```
3.  Gunakan `for` loop untuk melakukan iterasi pada setiap elemen di `jarak_mil_7`.
4.  Di dalam loop:
    * Lakukan konversi dari mil ke kilometer dengan mengalikan setiap nilai dengan `1.609`.
    * Simpan hasilnya dalam variabel `jarak_km`.
    * Cetak hasilnya dalam format: `"[JarakMil] mil = [JarakKm] km"`. Format angka kilometer agar hanya menampilkan 2 angka di belakang koma.
    * *Hint: Gunakan f-string formatting, contoh: `{variabel:.2f}`.*

In [9]:
import numpy as np

jarak_mil_7 = np.array([1.5, 2.3, 0.8, 3.1, 1.9])

for jarak in jarak_mil_7:
    jarak_km = jarak * 1.609
    print(f"{jarak} mil = {jarak_km:.2f} km")

1.5 mil = 2.41 km
2.3 mil = 3.70 km
0.8 mil = 1.29 km
3.1 mil = 4.99 km
1.9 mil = 3.06 km

### **Soal 8: Iterasi pada Pandas DataFrame dengan `.iterrows()`**

**Konteks:**
Anda memiliki DataFrame berisi data film, termasuk judul dan ratingnya. Anda ingin mencetak ulasan singkat untuk setiap film berdasarkan ratingnya. Method `.iterrows()` adalah cara umum untuk melakukan iterasi baris per baris pada DataFrame.

**Tugas:**

1.  Jalankan kode setup di bawah ini untuk membuat DataFrame:
    ```python
    import pandas as pd

    data_film_8 = {
        'Judul': ['The Dark Knight', 'Pulp Fiction', 'Forrest Gump', 'Inception'],
        'Rating': [9.0, 8.9, 8.8, 8.8]
    }
    df_film_8 = pd.DataFrame(data_film_8)
    ```
2.  Gunakan `for` loop dengan `df_film_8.iterrows()` untuk melakukan iterasi pada setiap baris DataFrame.
    * `.iterrows()` akan memberikan dua hal di setiap iterasi: **indeks baris** dan **data baris** (sebagai sebuah Series). Anda bisa menangkapnya dengan `for index, row in ...`.
3.  Di dalam loop, akses judul film dengan `row['Judul']` dan ratingnya dengan `row['Rating']`.
4.  Gunakan `if-else` sederhana:
    * Jika `row['Rating']` **lebih besar atau sama dengan 9.0**, cetak `"[Judul Film]" adalah film yang luar biasa."`.
    * Jika tidak, cetak `"[Judul Film]" adalah film yang bagus."`.

In [15]:
import pandas as pd

data_film_8 = {
    "Judul": ["The Dark Knight", "Pulp Fiction", "Forrest Gump", "Inception"],
    "Rating": [9.0, 8.9, 8.8, 8.8],
}

df_film_8 = pd.DataFrame(data_film_8)
for index, row in df_film_8.iterrows():
    if row["Rating"] >= 9.0:
        print(f"{row["Judul"]} adalah film yang sangat bagus.")
    else:
        print(f"{row["Judul"]} adalah film yang bagus.")

The Dark Knight adalah film yang sangat bagus.
Pulp Fiction adalah film yang bagus.
Forrest Gump adalah film yang bagus.
Inception adalah film yang bagus.

### **Soal 9: Membuat Kolom Baru dari Hasil Loop**

**Konteks:**
Anda memiliki DataFrame berisi data produk dan harganya. Anda ingin membuat kolom baru yang berisi harga setelah PPN (Pajak Pertambahan Nilai) sebesar 11%.

**Tugas:**

1.  Jalankan kode setup di bawah ini untuk membuat DataFrame:
    ```python
    import pandas as pd

    data_produk_9 = {
        'Produk': ['Laptop', 'Mouse', 'Keyboard'],
        'Harga': [12000000, 150000, 300000]
    }
    df_produk_9 = pd.DataFrame(data_produk_9)
    ```
2.  Buat sebuah **list kosong** bernama `list_harga_ppn_9`.
3.  Gunakan `for` loop untuk melakukan iterasi **langsung pada kolom `'Harga'`** (`df_produk_9['Harga']`). Ini akan memberi Anda setiap nilai harga satu per satu.
4.  Di dalam loop, hitung harga setelah PPN dengan mengalikan harga dengan `1.11` (100% + 11%).
5.  Tambahkan (`append`) setiap hasil harga baru ke dalam `list_harga_ppn_9`.
6.  Setelah loop selesai, tambahkan list `list_harga_ppn_9` sebagai **kolom baru** bernama `'Harga_PPN'` ke `df_produk_9`.
7.  Cetak keseluruhan DataFrame `df_produk_9` yang sudah dimodifikasi.

In [16]:
# sudah import pandas sebelumnya

data_produk_9 = {
    "Produk": ["Laptop", "Mouse", "Keyboard"],
    "Harga": [12000000, 150000, 300000],
}
df_produk_9 = pd.DataFrame(data_produk_9)
list_harga_ppn_9 = []

for harga in df_produk_9["Harga"]:
    harga *= 1.11
    list_harga_ppn_9.append(harga)

df_produk_9["Harga_PPN"] = list_harga_ppn_9
print(df_produk_9)

     Produk     Harga   Harga_PPN
0    Laptop  12000000  13320000.0
1     Mouse    150000    166500.0
2  Keyboard    300000    333000.0

### **Soal 10: Membuat Kolom Kategori dengan Loop dan Kondisi Kompleks**

**Konteks:**
Anda adalah seorang analis logistik dan perlu mengkategorikan produk berdasarkan beratnya untuk menentukan biaya pengiriman. Aturannya adalah:
* Berat di atas 10 kg: "Kargo Berat"
* Berat antara 1 kg dan 10 kg (inklusif): "Paket Standar"
* Berat di bawah 1 kg: "Dokumen/Surat"

**Tugas:**

1.  Jalankan kode setup di bawah ini untuk membuat DataFrame:
    ```python
    import pandas as pd

    data_kiriman_10 = {
        'ID_Kiriman': ['K01', 'K02', 'K03', 'K04', 'K05'],
        'Berat_kg': [15.2, 0.5, 8.1, 22.0, 0.9]
    }
    df_kiriman_10 = pd.DataFrame(data_kiriman_10)
    ```
2.  Buat sebuah **list kosong** bernama `list_kategori_kiriman_10`.
3.  Gunakan `for` loop untuk melakukan iterasi **langsung pada kolom `'Berat_kg'`**.
4.  Di dalam loop, gunakan `if-elif-else` untuk menentukan kategori berdasarkan berat:
    * Jika berat > 10, tambahkan (`append`) string `"Kargo Berat"` ke list.
    * Jika berat >= 1, tambahkan string `"Paket Standar"` ke list.
    * Jika tidak, tambahkan string `"Dokumen/Surat"` ke list.
5.  Setelah loop selesai, tambahkan `list_kategori_kiriman_10` sebagai **kolom baru** bernama `'Kategori'` ke `df_kiriman_10`.
6.  Cetak keseluruhan DataFrame `df_kiriman_10`.

In [17]:
# Pandas sudah diimpor sebelumnya

data_kiriman_10 = {
    "ID_Kiriman": ["K01", "K02", "K03", "K04", "K05"],
    "Berat_kg": [15.2, 0.5, 8.1, 22.0, 0.9],
}
df_kiriman_10 = pd.DataFrame(data_kiriman_10)
list_kategori_kiriman_10 = []

for berat in df_kiriman_10["Berat_kg"]:
    if berat > 10:
        list_kategori_kiriman_10.append("Kargo Berat")
    elif berat >= 1:
        list_kategori_kiriman_10.append("Paket Standar")
    else:
        list_kategori_kiriman_10.append("Dokumen/Surat")

df_kiriman_10["Kategori"] = list_kategori_kiriman_10
print(df_kiriman_10)

  ID_Kiriman  Berat_kg       Kategori
0        K01      15.2    Kargo Berat
1        K02       0.5  Dokumen/Surat
2        K03       8.1  Paket Standar
3        K04      22.0    Kargo Berat
4        K05       0.9  Dokumen/Surat