# List

In [6]:
pop = [30.55, 2.77, 39.21]
countries = ["afghanistan", "albania", "algeria"]
ind_alb = countries.index("albania")
print(ind_alb)

1

In [7]:
print(pop[ind_alb])

2.77

- Not convenient
- Not intuitive

# Dictionaries

In [8]:
world = {
    "afghanistan": 30.55,
    "albania": 2.77,
    "algeria": 39.21,
}

print(world.keys())
print(world["albania"])

dict_keys(['afghanistan', 'albania', 'algeria'])
2.77

In [9]:
world = {
    "afghanistan": 30.55,
    "albania": 2.77,
    "algeria": 39.21,
    "albania": 2.81,
}

print(world)

{'afghanistan': 30.55, 'albania': 2.81, 'algeria': 39.21}

- Keys have to be immutable objects

In [10]:
print({0: "hello", True: "dear", "two": "world"}) # integer, boolean, and string is a immutable data type

{0: 'hello', True: 'dear', 'two': 'world'}

# Important
Imuttable objects mean that they values cannot be changed.

Example:
we have variable named : nama, and the value is "John is a boy" (nama = "John is a boy")
and then we change the value to "John is a girl" (nama = "John is a girl")

"hmmm, the value of nama is changed right?, you said that immutable objects cannot be changed!"

No, the value of nama is not changed, the value of nama is still "John is a boy", but the variable nama is pointing to a new object, which is "John is a girl"

to prove it, we can use the id() function
id() function will return the memory address of the object

example:
``` python

nama = "John is a boy"
print(id(nama))
nama = "John is a girl"
print(id(nama))
```

try to run the code, you will see that the memory address of nama is different its mean that nama is pointing to a new object.

In [11]:
nama = "John is a boy"
print(id(nama))
nama = "John is a girl"
print(id(nama))

2448874311472
2448874323056

In [12]:
# This prove list is mutable
old_list = [1, 2, 3]
print(id(old_list))
old_list.append(4)
print(id(old_list))

2448874069184
2448874069184

See code in above this, the id has not changed. it means list changed the value of the object.

In [13]:
print({[1, 2]: "ini list"}) # This will throw an error because list is immutable object

TypeError: unhashable type: 'list'

In [14]:
# adding a new keys to world dictionary
world["sealand"] = 0.000027
print(world)

{'afghanistan': 30.55, 'albania': 2.81, 'algeria': 39.21, 'sealand': 2.7e-05}

In [15]:
# check key exists in dictionary
print("sealand" in world)

True

In [16]:
# change the value of the key "sealand" to 0.000028
world["sealand"] = 0.000028
print(world)

{'afghanistan': 30.55, 'albania': 2.81, 'algeria': 39.21, 'sealand': 2.8e-05}

In [17]:
# Deleting key and value from a dictionary
del world["sealand"]
print(world)

{'afghanistan': 30.55, 'albania': 2.81, 'algeria': 39.21}

# List vs Dictionaries
![image.png](image_1.png)