### **Soal 1: Membuat dan Mengakses Dictionary Sederhana**

**Konteks:** Anda adalah seorang pustakawan yang ingin mendata sebuah buku. Anda perlu menyimpan informasi dasar seperti judul, penulis, dan tahun terbit buku tersebut dalam satu struktur data.

**Tugas:**

1.  Buatlah sebuah **dictionary** Python bernama `buku_favorit_1` untuk merepresentasikan sebuah buku.
2.  Masukkan *key-value pairs* berikut ke dalam dictionary tersebut:
    * *Key* `"judul"` dengan *value* `"Laskar Pelangi"`.
    * *Key* `"penulis"` dengan *value* `"Andrea Hirata"`.
    * *Key* `"tahun_terbit"` dengan *value* `2005`.
3.  Akses dan cetak (*print*) nilai yang berasosiasi dengan *key* `"penulis"` dari dictionary `buku_favorit_1`.

In [2]:
buku_favorit_1 = {
    "judul": "Laskar Pelangi",
    "penulis": "Andrea Hirata",
    "tahun_terbit": 2005,
}

print(buku_favorit_1["penulis"])

Andrea Hirata

### **Soal 2: Memanipulasi Dictionary (Menambah dan Memperbarui Data)**

**Konteks:** Setelah mendata buku, Anda menyadari ada informasi yang kurang dan ada yang perlu diperbarui. Anda perlu menambahkan genre buku dan mengubah tahun terbit karena ada edisi revisi.

**Tugas:**

1.  Gunakan kembali dictionary `buku_favorit_1` dari soal sebelumnya.
2.  **Tambahkan** *key-value pair* baru ke dalam dictionary tersebut:
    * *Key* `"genre"` dengan *value* `"Fiksi Inspiratif"`.
3.  **Perbarui (update)** nilai yang sudah ada untuk *key* `"tahun_terbit"` menjadi `2007`.
4.  Cetak (*print*) keseluruhan dictionary `buku_favorit_1` yang telah dimodifikasi untuk melihat hasilnya.

In [3]:
buku_favorit_1["genre"] = "Fiksi Inspiratif"
buku_favorit_1["tahun_terbit"] = 2007

print(buku_favorit_1)

{'judul': 'Laskar Pelangi', 'penulis': 'Andrea Hirata', 'tahun_terbit': 2007, 'genre': 'Fiksi Inspiratif'}

### **Soal 3: Dictionary di dalam Dictionary**

**Konteks:** Anda sekarang perlu mendata beberapa buku sekaligus. Menggunakan satu dictionary besar akan tidak terstruktur. Solusi yang lebih baik adalah menggunakan dictionary yang berisi dictionary lain, di mana setiap dictionary di dalamnya merepresentasikan satu buku.

**Tugas:**

1.  Buatlah sebuah dictionary kosong bernama `koleksi_buku_3`.
2.  Buat dua dictionary terpisah untuk dua buku:
    * `buku_1_3 = {"judul": "Bumi Manusia", "penulis": "Pramoedya Ananta Toer"}`
    * `buku_2_3 = {"judul": "Negeri 5 Menara", "penulis": "Ahmad Fuadi"}`
3.  Masukkan kedua dictionary buku tersebut ke dalam `koleksi_buku_3`. Gunakan *key* unik untuk setiap buku, misalnya `"B001"` untuk `buku_1_3` dan `"B002"` untuk `buku_2_3`.
4.  Akses dan cetak **judul** dari buku yang memiliki kode `"B002"`.

In [4]:
koleksi_buku_3 = {}

buku_1_3 = {
    "judul": "Bumi Manusia",
    "penulis": "Pramoedya Ananta Toer",
}
buku_2_3 = {
    "judul": "Negeri 5 Menara",
    "penulis": "Ahmad Fuadi",
}

koleksi_buku_3["B001"] = buku_1_3
koleksi_buku_3["B002"] = buku_2_3

print(koleksi_buku_3["B002"]["judul"])

Negeri 5 Menara

### **Soal 4: Konversi Dictionary ke Pandas DataFrame**

**Konteks:** Koleksi buku Anda berkembang. Mengelolanya dalam dictionary menjadi kurang efisien untuk analisis. Saatnya untuk memindahkan data ini ke dalam Pandas DataFrame, yang merupakan standar industri untuk analisis data di Python.

**Tugas:**

1.  Impor library **pandas** dengan alias `pd`.
2.  Buatlah sebuah dictionary bernama `data_buku_4`. Strukturnya harus cocok untuk konversi ke DataFrame:
    * *Key* akan menjadi nama kolom.
    * *Value* akan menjadi **list** dari data di kolom tersebut.
    ```python
    data_buku_4 = {
        "judul": ["Laskar Pelangi", "Bumi Manusia", "Negeri 5 Menara"],
        "penulis": ["Andrea Hirata", "Pramoedya Ananta Toer", "Ahmad Fuadi"],
        "tahun": [2005, 1980, 2009]
    }
    ```
3.  Konversikan dictionary `data_buku_4` menjadi sebuah Pandas DataFrame bernama `df_buku_4`.
4.  Cetak (*print*) DataFrame `df_buku_4` tersebut.

In [5]:
import pandas as pd

data_buku_4 = {
    "judul": ["Laskar Pelangi", "Bumi Manusia", "Negeri 5 Menara"],
    "penulis": ["Andrea Hirata", "Pramoedya Ananta Toer", "Ahmad Fuadi"],
    "tahun": [2005, 1980, 2009]
}

df_buku_4 = pd.DataFrame(data_buku_4)
print(df_buku_4)

             judul                penulis  tahun
0   Laskar Pelangi          Andrea Hirata   2005
1     Bumi Manusia  Pramoedya Ananta Toer   1980
2  Negeri 5 Menara            Ahmad Fuadi   2009

### **Soal 5: Membaca File CSV ke DataFrame (Versi Lengkap)**

**Konteks:** Di dunia nyata, data jarang diketik manual. Biasanya data disimpan dalam file seperti CSV (Comma-Separated Values). Anda memiliki file data penjualan buku yang perlu dianalisis.

**Tugas:**

1.  Jalankan blok kode di bawah ini terlebih dahulu. Kode ini menggunakan modul `io` untuk membuat "file CSV virtual" dari sebuah string, sehingga Anda tidak perlu membuat file fisik.
    ```python
    import pandas as pd
    import io

    # Teks ini akan kita perlakukan seolah-olah sebuah file CSV
    data_csv_5 = """ID,Judul,Genre,Terjual
    B001,Laskar Pelangi,Fiksi,150
    B002,Bumi Manusia,Sejarah,120
    B003,Negeri 5 Menara,Fiksi,135
    B004,Perahu Kertas,Romantis,110
    """

    # Menggunakan io.StringIO untuk membaca string seolah-olah file
    file_virtual_5 = io.StringIO(data_csv_5)
    ```

2.  Sekarang, dengan `file_virtual_5` yang sudah ada, gunakan fungsi `pd.read_csv()` untuk membaca "file" tersebut ke dalam sebuah DataFrame baru bernama `df_penjualan_5`.
3.  Gunakan method `.head()` pada DataFrame untuk menampilkan 3 baris pertama dan memeriksa apakah data berhasil dimuat dengan benar.
4.  Cetak (*print*) hasilnya.

In [6]:
import pandas as pd
import io

# Teks ini akan kita perlakukan seolah-olah sebuah file CSV
data_csv_5 = """ID,Judul,Genre,Terjual
B001,Laskar Pelangi,Fiksi,150
B002,Bumi Manusia,Sejarah,120
B003,Negeri 5 Menara,Fiksi,135
B004,Perahu Kertas,Romantis,110
"""

# Menggunakan io.StringIO untuk membaca string seolah-olah file
file_virtual_5 = io.StringIO(data_csv_5)

In [7]:
df_penjualan_5 = pd.read_csv(file_virtual_5)
print(df_penjualan_5.head(3))

     ID            Judul    Genre  Terjual
0  B001   Laskar Pelangi    Fiksi      150
1  B002     Bumi Manusia  Sejarah      120
2  B003  Negeri 5 Menara    Fiksi      135

### **Soal 6: Memilih Kolom dengan Square Brackets `[]`**

**Konteks:**
Anda sekarang memiliki DataFrame `df_penjualan_5` yang berisi data penjualan. Anda tidak selalu butuh semua kolom. Untuk analisis awal, Anda hanya ingin melihat data genre, lalu data judul dan jumlah terjual saja.

**Tugas:**

1.  Gunakan DataFrame `df_penjualan_5` yang berhasil Anda buat di soal sebelumnya.
2.  Pilih **satu kolom** saja, yaitu kolom `"Genre"`. Simpan hasilnya (yang akan menjadi sebuah Pandas Series) dalam variabel `genre_series_6`.
3.  Cetak `genre_series_6`.
4.  Sekarang, pilih **beberapa kolom** sekaligus: `"Judul"` dan `"Terjual"`. Simpan hasilnya (yang akan menjadi sebuah DataFrame baru) dalam variabel `judul_terjual_df_6`.
    * *Hint: Untuk memilih beberapa kolom, Anda perlu memberikan sebuah list dari nama-nama kolom di dalam kurung siku, contoh: `df[['kolom1', 'kolom2']]`.*
5.  Cetak `judul_terjual_df_6`.

In [8]:
genre_series_6 = df_penjualan_5["Genre"]
print(genre_series_6)

judul_terjual_df_6 = df_penjualan_5[["Judul", "Terjual"]]
print(judul_terjual_df_6)

0       Fiksi
1     Sejarah
2       Fiksi
3    Romantis
Name: Genre, dtype: object
             Judul  Terjual
0   Laskar Pelangi      150
1     Bumi Manusia      120
2  Negeri 5 Menara      135
3    Perahu Kertas      110

### **Soal 7: Memilih Baris dan Kolom dengan `.loc`**

**Konteks:**
Metode `[]` bagus untuk memilih kolom, tetapi kurang ideal untuk memilih baris. Untuk pemilihan berdasarkan **nama label** (baik nama baris/indeks maupun nama kolom), metode `.loc` adalah pilihan yang lebih baik dan lebih eksplisit.

**Tugas:**

1.  Gunakan kembali DataFrame `df_penjualan_5`. Untuk mempermudah, mari kita atur kolom `ID` sebagai indeks baru. Jalankan kode ini terlebih dahulu:
    ```python
    df_penjualan_7 = df_penjualan_5.set_index('ID')
    # Sekarang, nama baris kita adalah 'B001', 'B002', dst.
    ```
2.  Gunakan `.loc` untuk memilih baris dengan indeks `'B002'`. Cetak hasilnya.
3.  Gunakan `.loc` untuk memilih baris `'B001'` sampai `'B003'`. Cetak hasilnya.
4.  Gunakan `.loc` untuk memilih data pada baris `'B004'` dan hanya pada kolom `"Judul"`. Cetak hasilnya.
5.  Gunakan `.loc` untuk memilih data pada baris `'B001'` dan `'B003'` dan hanya kolom `"Genre"` dan `"Terjual"`. Cetak hasilnya.

In [9]:
df_penjualan_7 = df_penjualan_5.set_index('ID')
print(df_penjualan_7.loc["B002"])
print(df_penjualan_7.loc["B001":"B003"])
print(df_penjualan_7.loc["B004", "Judul"])
print(df_penjualan_7.loc[["B001", "B003"], ["Genre", "Terjual"]])

Judul      Bumi Manusia
Genre           Sejarah
Terjual             120
Name: B002, dtype: object
                Judul    Genre  Terjual
ID
B001   Laskar Pelangi    Fiksi      150
B002     Bumi Manusia  Sejarah      120
B003  Negeri 5 Menara    Fiksi      135
Perahu Kertas
      Genre  Terjual
ID
B001  Fiksi      150
B003  Fiksi      135

### **Soal 8: Memilih Baris Berdasarkan Posisi dengan `.iloc`**

**Konteks:**
Terkadang Anda tidak peduli dengan nama indeks atau kolom, tetapi Anda ingin mengambil data berdasarkan posisinya (misalnya, baris pertama, baris terakhir, kolom ke-2, dll.). Untuk ini, `.iloc` (integer location) adalah alat yang tepat.

**Tugas:**

1.  Gunakan DataFrame `df_penjualan_5` yang asli (dengan indeks numerik standar 0, 1, 2, 3).
2.  Gunakan `.iloc` untuk memilih **baris pertama** (posisi 0). Cetak hasilnya.
3.  Gunakan `.iloc` untuk memilih **tiga baris pertama** (posisi 0, 1, dan 2). Cetak hasilnya.
4.  Gunakan `.iloc` untuk memilih data pada **baris terakhir** (posisi -1). Cetak hasilnya.
5.  Gunakan `.iloc` untuk memilih data pada **baris pertama** (posisi 0) dan **kolom kedua** (posisi 1) saja. Cetak hasilnya (ini akan mengambil judul buku pertama).

In [10]:
print(df_penjualan_5.iloc[0])
print(df_penjualan_5.iloc[0:3])
print(df_penjualan_5.iloc[-1])
print(df_penjualan_5.iloc[0, 1])

ID                   B001
Judul      Laskar Pelangi
Genre               Fiksi
Terjual               150
Name: 0, dtype: object
     ID            Judul    Genre  Terjual
0  B001   Laskar Pelangi    Fiksi      150
1  B002     Bumi Manusia  Sejarah      120
2  B003  Negeri 5 Menara    Fiksi      135
ID                  B004
Judul      Perahu Kertas
Genre           Romantis
Terjual              110
Name: 3, dtype: object
Laskar Pelangi

### **Soal 9: Filtering Data Berdasarkan Kondisi**

**Konteks:**
Sebagai seorang analis, tugas Anda yang paling umum adalah mem-filter data untuk menemukan *insight*. Anda ingin menemukan semua buku fiksi yang penjualannya di atas 130 unit dari DataFrame penjualan.

**Tugas:**

1.  Gunakan DataFrame `df_penjualan_5` yang asli.
2.  Buatlah sebuah *boolean Series* (Series yang hanya berisi `True`/`False`) yang menandakan apakah nilai di kolom `"Genre"` adalah `"Fiksi"`.
3.  Buat *boolean Series* kedua yang menandakan apakah nilai di kolom `"Terjual"` lebih besar dari `130`.
4.  Gabungkan kedua kondisi tersebut menggunakan operator logika `&` (AND) untuk membuat satu *boolean mask* akhir.
5.  Gunakan *mask* tersebut untuk mem-filter `df_penjualan_5` dan menampilkan hanya baris-baris yang memenuhi kedua kondisi tersebut. Cetak hasilnya.

In [12]:
df_penjualan_5_fiksi = df_penjualan_5["Genre"] == "Fiksi"
df_penjualan_5_terjual_lebih_dari_30 = df_penjualan_5["Terjual"] > 130

df_penjualan_5_gabungan = df_penjualan_5_fiksi & df_penjualan_5_terjual_lebih_dari_30
print(df_penjualan_5[df_penjualan_5_gabungan])

     ID            Judul  Genre  Terjual
0  B001   Laskar Pelangi  Fiksi      150
2  B003  Negeri 5 Menara  Fiksi      135

### **Soal 10: Mengubah Data Berdasarkan Kondisi dengan `.loc`**

**Konteks:**
Anda adalah manajer penjualan dan ingin memberikan bonus penjualan. Buku-buku dalam genre "Fiksi" yang terjual lebih dari 140 unit akan diberi status "Best Seller". Anda perlu menambahkan kolom baru di DataFrame untuk menandai status ini.

**Tugas:**

1.  Gunakan DataFrame `df_penjualan_5` yang asli. Pertama, tambahkan kolom baru bernama `"Status"` yang semua nilainya diisi dengan string `"Normal"`:
    ```python
    df_penjualan_5['Status'] = 'Normal'
    ```
2.  Buat *boolean mask* untuk menemukan baris di mana kolom `"Genre"` adalah `"Fiksi"` **DAN** kolom `"Terjual"` lebih besar dari `140`.
3.  Gunakan `.loc` dengan *mask* yang baru Anda buat untuk memilih baris-baris yang sesuai dan **hanya kolom `"Status"`**.
4.  Ubah nilai pada kolom `"Status"` untuk baris-baris yang telah Anda pilih menjadi `"Best Seller"`.
5.  Cetak (*print*) keseluruhan DataFrame `df_penjualan_5` yang telah dimodifikasi untuk melihat hasilnya.

In [29]:
df_penjualan_5["Status"] = "Normal"
filtering = (df_penjualan_5["Genre"] == "Fiksi") & (df_penjualan_5["Terjual"] > 140)

df_penjualan_5.loc[filtering, ["Status"]] = "Best Seller"
print(df_penjualan_5)

     ID            Judul     Genre  Terjual       Status
0  B001   Laskar Pelangi     Fiksi      150  Best Seller
1  B002     Bumi Manusia   Sejarah      120       Normal
2  B003  Negeri 5 Menara     Fiksi      135       Normal
3  B004    Perahu Kertas  Romantis      110       Normal