# Variable

- Specific, case-sensitive name
- Call up value through variable name
- 1.79 m - 68.7 kg

In [1]:
height = 1.79
weight = 68.7
print(height)

1.79

# Calculate BMI

In [ ]:
height = 1.79
weight = 68.7

print(height)

1.79

In [ ]:
# cara 1
68.7 / 1.79 ** 2

21.44127836209856

In [ ]:
# cara 2
weight / height ** 2

21.44127836209856

In [ ]:
# cara 3
bmi = weight / height ** 2
print(bmi)

21.44127836209856

# Reproducibility

In [ ]:
# assign value baru ke variabel weight
height = 1.79
weight = 74.2

In [7]:
# kalkulasi perhitungan bmi
bmi = weight / height ** 2
print(bmi)

23.157829031553323

# Python Types

In [11]:
print(type(bmi))

<class 'float'>

In [10]:
day_of_week = 5
print(type(day_of_week))

<class 'int'>

# Python Types (2)

In [12]:
# string bisa menggunakan double quote atau single quote
x = "body mass index"
y = 'this works too'

print(x)

body mass index

In [13]:
# boolean harus diawali dengan kata True atau False
z = True

print(z)

True

# Python Types (3)

- Different type = different behavior

In [14]:
2 + 3

5

In [15]:
"ab" + "cd"

'abcd'

artinya bahwa penggunaan operator "+" akan menghasilkan nilai yang berbeda ketika digunakan pada tipe data string dan integer.